---
import Search from "astro-pagefind/components/Search";
import '@/styles/pagefind-ui-custom.css';
import BaseLayout from '@/layouts/BaseLayout.astro';
import siteConfig from '@/siteConfig.json';
import BlogPostCard from "@/components/BlogPostCard.astro";
import { getSlugName } from '@/scripts/urlUtils';
import { getCollection } from 'astro:content';
import HeroCard from '@/components/HeroCard.astro';
import Card from '@/components/Card.astro';
import ButtonLink from '@/components/ButtonLink.astro';

const allPosts: Record<string, any>[] = await getCollection('posts');
const href = "/acerca-de";
import javImg from '@/assets/javguerra.png';

let post;

if (allPosts.length) {
    const sortedPosts = allPosts.sort(
        (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
    )

    const lastPost = sortedPosts[0];
    post = { ...lastPost };
    post.data = { ...post.data };
    const title = "Nuevo: " + post.data.title;
    post.data.title = title;
}
---

<BaseLayout pageTitle={siteConfig.default.autor} subTitle={siteConfig.default.description}>

    <h2>Bienvenida</h2>

    <ul class="-mt-4">
        <div class="my-8">
            <HeroCard href={href} img={javImg} alt="Javier Guerra"
                styles="mx-auto md:ml-auto mb-4 md:mb-0 w-[192px] border-2 rounded-full">
                <div class="text-center md:text-left">
                    <p class="text-2xl leading-snug md:leading-relaxed">👋🏻&nbsp;Soy&nbsp;<strong>Javier&nbsp;Guerra</strong>, técnico&nbsp;superior&nbsp;DAW.
                        
                    <p class="mt-2">Explora aquí la información sobre mi experiencia profesional, conocimientos técnicos y méritos.</p>

                    <div class="mt-4 md:mt-6">
                        <ButtonLink href={href} text="Sobre mi&nbsp;→" />
                    </div>
                </div>
            </HeroCard>
        </div>

        <Card href="/portfolio" title="Portfolio"
            body="Visita mi portfolio para saber algo más sobre mis conocimientos aplicados." 
        />
    </ul>

    <ul role="list" class="link-card-grid mt-8">
        <Card href="/blog/1" title="Blog"
            body="Conoce algo más sobre los temas de estudio que me interesan." 
        />
        <Card href="/temas" title="Temas"
            body="Accede a la lista de temas del blog y a los enlaces recomendados."
        />
    </ul>

    <dir class="mt-8 ps-0">
        <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
    </dir>
    
    { post && 
        <ul class="my-8 text-center md:text-left">
            <BlogPostCard
                frontmatter={post.data}
                href=`${post.data.route || getSlugName(post.slug)}`
            />
        </ul>
    }
    
</BaseLayout>