---
import BaseLayout from "@/layouts/BaseLayout.astro";
import HeroCard from "@/components/HeroCard.astro";
import Card from "@/components/Card.astro";
import portfolio from "@/content/_portfolio.json";

const styles = "mx-auto md:ml-auto mb-4 md:mb-0 w-[256px]";
const images = import.meta.glob("@/assets/portfolio/*", { eager: true });

const projects = portfolio.projects.map(project => {
  const image = images[`/src/assets/portfolio/${project.img}`] as Record<string, any>;
  return { ...project, image };
});
---

<BaseLayout pageTitle="Portfolio" subTitle="Mira lo que hago">

  <h2>Proyectos</h2>

  <div class="-mt-2">
    {
      projects.map(project => (
        <ul>
          <div class="my-8">
            <HeroCard
              href={`/blog/${project.route}`}
              img={project.image.default}
              alt={project.alt}
              styles={styles}
            >
              <h3 class="my-0 leading-snug">{`${project.title} →`}</h3>
              <p set:html={project.description}></p>
            </HeroCard>
          </div>
        </ul>
      ))
    }
  </div>

  <ul role="list" class="link-card-grid mt-12 bb-10">
    <Card href="/blog/tag/web" title="Sitios web">
      Conoce más sobre mis proyectos y webs referenciados en el blog. 
    </Card>

    <Card href="https://github.com/JavGuerra" title="Github">
      Visita los repositorios de mis proyectos y de mis sitios web.
    </Card>
  </ul>
  
</BaseLayout>
