---
import BaseLayout from "@/layouts/BaseLayout.astro";
import HeroCard from "@/components/HeroCard.astro";
import Card from "@/components/Card.astro";
import portfolio from "@/content/_portfolio.json";

const images = import.meta.glob("@/assets/portfolio/*", { eager: true });
const projects = portfolio.projects.map((project) => {
  const image = images[`/src/assets/portfolio/${project.img}`] as Record<string, any>;
  return { ...project, image };
});

const styles = "mx-auto md:ml-auto mb-4 md:mb-0 w-[256px]";
---

<BaseLayout pageTitle="Portfolio" subTitle="Mira lo que hago">
  <h2>Proyectos</h2>

  <div class="-mt-4">
    {
      projects.map((project) => (
        <ul>
          <HeroCard
            href={`/blog/${project.route}`}
            img={project.image.default}
            alt={project.alt}
            styles={styles}
          >
            <h3 class="my-0 leading-snug">{`${project.title} →`}</h3>

            <p>{project.description}</p>
          </HeroCard>
        </ul>
      ))
    }
  </div>

  <ul class="mt-12 mb-10">
    <Card href="/blog/tag/web" title="Sitios web" body="Visita otros ejemplos de proyectos y sitios web documentados en el blog." />
  </ul>
</BaseLayout>
