---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Card from '@/components/Card.astro';

import '@/styles/mastodon.css';

const server = 'https://indieweb.social';
const profileId = '109292343224519197';
const limit = 10;
const route = `${server}/api/v1/accounts/${profileId}/statuses?limit=${limit}`;
---

<BaseLayout pageTitle="Social" subTitle="Mi conexión con el mundo">
  
  <ul id="posts" class="mb-8">

    Cargando

    <svg version="1.1" id="L4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
      <circle fill="#fff" stroke="none" cx="6" cy="50" r="6">
        <animate
          attributeName="opacity"
          dur="1s"
          values="0;1;0"
          repeatCount="indefinite"
          begin="0.1"/>    
      </circle>
      <circle fill="#fff" stroke="none" cx="26" cy="50" r="6">
        <animate
          attributeName="opacity"
          dur="1s"
          values="0;1;0"
          repeatCount="indefinite" 
          begin="0.2"/>       
      </circle>
      <circle fill="#fff" stroke="none" cx="46" cy="50" r="6">
        <animate
          attributeName="opacity"
          dur="1s"
          values="0;1;0"
          repeatCount="indefinite" 
          begin="0.3"/>     
      </circle>
    </svg>
    
  </ul>

  <ul role="list" class="link-card-grid mt-10">
    <Card href="https://indieweb.social/@javguerra" title="Mastodon">
      Visita mi cuenta <strong>@javguerra</strong>.
    </Card>

    <Card href="https://x.com/javgr" title="Twitter, X">
      Visita mi cuenta <strong>@javgr</strong>.
    </Card>
  </ul>
  
</BaseLayout>

<style>
  svg{
    vertical-align: text-top;
    width: 36px;
    height: 36px;
    display:inline-block;
  }
</style>

<script is:inline define:vars={{ route }}>
  
  async function getLatestPosts(route) {
    try {
      const response = await fetch(route);
      if (!response.ok) throw new Error(response.statusText);
      return await response.json();
    } catch (error) {
      console.error(error);
      return [];
    }
  }

  function displayPosts(posts) {
    const postsElement = document.getElementById('posts');
    if (posts && posts.length > 0) {
      postsElement.innerHTML = `
          <h2 class="mb-6">Últimas publicaciones</h2>
          ${posts.map(post => `
            <li class="post mt-4">
              ${post.reblog === null 
                ? post.content
                : `${post.reblog.content} <small class="gray">♻️ Republicado </small>`}
              ${post.reblog === null && post.content === ""
                ? `Contenido multimedia <a href="${post.url}">👁️ Ver en origen →</a><br />` : ''}
              <a href="${post.reblog === null
                ? post.url : post.reblog.url}">
                <small class="gray">📢 ${new Date(post.created_at).toLocaleString()}</small>
              </a>
            </li>
          `).join('')}
        `;
    } else {
      postsElement.innerHTML = '<p>No se encontraron posts.</p>';
    }
  }

  document.addEventListener('astro:page-load', async () => {
    const posts = await getLatestPosts(route);     
    posts && displayPosts(posts)
  });
</script>