---
import siteConfig from '@/siteConfig.json';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Loading from '@/components/Loading.astro';
import Card from '@/components/Card.astro';

import '@/styles/mastodon.css';

const social = siteConfig.default.social;

const server = 'https://indieweb.social';
const profileId = '109292343224519197';
const limit = siteConfig.default.socialPosts;
const route = `${server}/api/v1/accounts/${profileId}/statuses?limit=${limit}`;
---

<BaseLayout pageTitle="Social" subTitle="Mi conexión con el mundo">

  <div id="posts" class="mb-8">
    Cargando <Loading />
  </div>

  <ul role="list" class="link-card-grid mt-10">
    <Card href={social.mastodon} title="Mastodon">
      Visita mi cuenta en <strong>Mastodon</strong>.
    </Card>

    <Card href={social.bluesky} title="Bluesky">
      Visita mi cuenta en <strong>Bluesky</strong>.
    </Card>
  </ul>
  
</BaseLayout>

<script is:inline define:vars={{ route }}>
  
  async function getLatestPosts(route) {
    try {
      const response = await fetch(route);
      if (!response.ok) throw new Error(response.statusText);
      return await response.json();
    } catch (error) {
      console.error(error);
      return [];
    }
  }

  function displayPosts(posts) {
    const postsElement = document.getElementById('posts');

    if (!posts || posts.length === 0) {
      postsElement.innerHTML = '<p>No se encontraron posts.</p>';
      return;
    }

    postsElement.innerHTML = `
      <h2 class="mb-6">Últimas publicaciones</h2>
      <ul>
      ${posts.map(post => {
        const isReblog = post.reblog != null;
        const originalPost = isReblog ? post.reblog : post;
        const contentIsEmpty = !originalPost.content || originalPost.content.replace(/<[^>]*>/g, '').trim() === '';
        const hasMedia = originalPost.media_attachments && originalPost.media_attachments.length > 0;
        const multimediaLink = hasMedia ? `<small>Incluye contenido multimedia <a href="${originalPost.url}">👁️ Ver en origen →</a></small><br />` : '';

        return `
          <li class="intro post mt-4">
            ${isReblog 
              ? `${originalPost.content} <small>♻️ Republicado </small>`
              : contentIsEmpty && hasMedia
                ? multimediaLink
                : originalPost.content + multimediaLink}

            <a href="${originalPost.url}">
              <small class="gray">
                📢 ${new Date(originalPost.created_at).toLocaleString('es-ES', {dateStyle: 'medium', timeStyle: 'short'})}
              </small>
            </a>
          </li>
          `
        }).join('')}
      </ul>
    `;
  }

  document.addEventListener('astro:page-load', async () => {  
    displayPosts(await getLatestPosts(route));
  });
</script>