---
interface Props {
  frontmatter: Record<string, any>;
  href: string;
  firstParagraph?: string;
  ignorePrefetch?: boolean;
}
  
import siteConfig from '@/siteConfig.json';
import { Image } from "astro:assets";
import ButtonLink from "./ButtonLink.astro";
import FormattedDate from '@/components/FormattedDate.astro';

const { frontmatter, href, firstParagraph, ignorePrefetch = false } = Astro.props;
const { coverImage, title, author, pubDate, description } = frontmatter;
const route = `/blog/${href}`;
---

<li class="post-card">
  <a href={route} role="button" aria-label={title} data-astro-prefetch={ignorePrefetch ? null : ''}>
    <article class="md:flex md:flex-row-reverse">

      { coverImage && 
        <Image src={coverImage.image} alt={coverImage.alt}
          class="mb-2 w-[192px] mx-auto" inferSize loading="lazy" transition:name={route} />} 
      
      <div class="w-full md:me-4">
        <small class="gray">
          {author ? author : siteConfig.default.autor}{
            pubDate && <>, <FormattedDate date={pubDate} /></> }
        </small>
        <h3 class="pt-1">{title}</h3>
        <p class="mt-2">{description}</p>
        <p class="gray -mt-2">{firstParagraph}</p>
        <div class="mt-4 md:-mt-2">
          <ButtonLink href={route} text="Leer" small />
        </div>
      </div>
      
    </article>
  </a>
</li>
