---
import siteConfig from '@/siteConfig.json';
import FooterIcon from './FooterIcon.astro';

const social = siteConfig.default.social;
type SocialPlatform = keyof typeof social;
const getSocialUrl = (platform: SocialPlatform): string =>
  `https://www.${platform}.com/${social[platform]}`;

const icons = import.meta.glob('@/assets/footer/*.svg', { eager: true });
const getSvgIcon = (name: string) =>
  icons[`/src/assets/footer/${name}.svg`] as Record<string, any>;
---

<footer class="my-10">

  <div class="flex flex-wrap md:flex-row-reverse gap-4 items-center justify-center">

    <p class="w-full md:w-auto md:mt-4 leading-tight text-center md:text-left">
      <a href={siteConfig.default.licenseUrl} >
        <small>{siteConfig.default.license}</small>
      </a>
      <strong>{siteConfig.default.autor}</strong><br />
      <small class="gray"><i>{siteConfig.default.footer}</i></small>
    </p>

    <div class="flex gap-4">
      <FooterIcon href={getSocialUrl("github")} icon={getSvgIcon("github")} alt="GitHub" />
      <FooterIcon href={getSocialUrl("linkedin")} icon={getSvgIcon("linkedin")} alt="Linked In" />
      <FooterIcon href={getSocialUrl("x")} icon={getSvgIcon("x")} alt="X" />
      <FooterIcon href=`mailto:${siteConfig.default.email}` icon={getSvgIcon("email")} alt="Correo" />
      <FooterIcon href="/rss.xml" icon={getSvgIcon("rss")} alt="Fuente RSS" />
      <FooterIcon href={siteConfig.default.stats} icon={getSvgIcon("stats")} alt="Estadísticas" />
    </div>
    
  </div>
</footer>