---
interface frontmatterInfo {
    title: string;
    description: string;
    author: string;
    pubDate: string;
    coverImage: Record<string, string>;
    tags: Array<string>;
}

interface Props {
    frontmatter: frontmatterInfo;
    id: string;
}

import '@/styles/markdown.css';
import { Image } from 'astro:assets';
import siteConfig from '@/siteConfig.json';
import BaseLayout from './BaseLayout.astro';
import TagLabel from '@/components/TagLabel.astro';
import ButtonLink from '@/components/ButtonLink.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Disqus from '@/components/Disqus.astro';

const { frontmatter, id } = Astro.props;
const { title, description, author, pubDate, coverImage, tags } = frontmatter;
---

<BaseLayout transition:name={title} pageTitle={title} subTitle={description}>

    <p class="-mt-6 mb-2 gray"><small>
        {author ? author : siteConfig.default.autor}{
            pubDate && <>, <FormattedDate date={pubDate} /></>}
    </small></p>

    {coverImage && <Image src={coverImage.image}
        alt={coverImage.alt} inferSize class="my-8" loading="eager" />}

    <div data-pagefind-ignore="all">
        <div class="flex flex-wrap mt-4">
            {tags && tags.map((tag: string) => ( <TagLabel tag={tag} /> ))}
        </div>
    </div>

    <div class="my-8 md-content">
        <slot />
    </div>

    <div id="comments-section">
        <h1 id="comments-header" style="display: none;" class="text-center">Comentarios</h1>
        <!-- Aquí va tu componente Disqus -->
    </div>
  
    <script>
        function showCommentsHeader() {
          const header = document.getElementById('comments-header');
          if (header) {
            header.style.display = 'block';
          }
        }
  
        function checkDisqus() {
          if (typeof (window as any).DISQUS !== 'undefined') {
            showCommentsHeader();
          }
        }
  
        // Verificar cuando la página se carga y después de las transiciones
        document.addEventListener('astro:page-load', () => {
          checkDisqus();
          // Verificar nuevamente después de un breve retraso
          setTimeout(checkDisqus, 1000);
        });
    </script>

    <Disqus id={id} />

    <div class="text-center mt-10 md:text-left">
        <ButtonLink text="←&nbsp;Volver" />
    </div>
</BaseLayout>
