---
interface frontmatterInfo {
    title: string;
    description: string;
    author?: string;
    pubDate: string;
    coverImage?: Record<string, string>;
    tags?: Array<string>;
}

interface Props {
    frontmatter: frontmatterInfo;
    id: string;
}

import '@/styles/markdown.css';
import { Image } from 'astro:assets';
import siteConfig from '@/siteConfig.json';
import BaseLayout from './BaseLayout.astro';
import TagLabel from '@/components/TagLabel.astro';
import ButtonLink from '@/components/ButtonLink.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Disqus from '@/components/Disqus.astro';

const { frontmatter, id } = Astro.props;
const { 
    title,
    description,
    author = siteConfig.default.autor,
    pubDate,
    coverImage = {image: '', alt: ''},
    tags = []
} = frontmatter;
---

<BaseLayout transition:name={title} pageTitle={title} subTitle={description} coverImage={coverImage}>

    <p class="-mt-6 mb-2 gray"><small>
        {author ? author : siteConfig.default.autor}{
            pubDate && <>, <FormattedDate date={pubDate} /></>}
    </small></p>

    {coverImage && <Image src={coverImage.image}
        alt={coverImage.alt} inferSize class="my-8" loading="eager" />}

    <div data-pagefind-ignore="all">
        <div class="flex flex-wrap mt-4">
            {tags && tags.map((tag: string) => ( <TagLabel tag={tag} /> ))}
        </div>
    </div>

    <div class="my-8 md-content">
        <slot />
    </div>

    <h1 id="comments-header" class="mb-8" style="display: none;">Comentarios</h1>
    <Disqus id={id} />
  
    <script>
    // Si está disponiible Disqus...
    document.addEventListener('astro:page-load', () => {
        const $header = document.getElementById('comments-header');
        if ($header && typeof (window as any).DISQUS !== 'undefined') {
            $header.style.display = 'block';
        }
    });
    </script>

    <div class="text-center mt-8 md:text-left">
        <ButtonLink text="←&nbsp;Volver" />
    </div>
</BaseLayout>
